IConstituentMessageService/bin/*
IConstituentMessageService/obj/*
IConstituent.MessageService.DataService/bin/
IConstituent.MessageService.DataService/obj/
IConstituent.MessageService.DataStore/obj/
IConstituent.MessageService.DataStore/bin/
.vs/
